.navBar {
    background-color: #e6cfc9;
}

.tituloBarraNavegacion:hover {
    color: red;
    font-size: 32px;
}

.navContenedor {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.navCategorias {
    display: flex;
    flex-direction: column;
}

.navegadorPorCategoria {
    border: solid 2px orange;
    border-radius: 10px;
    padding: 5px;
}

.navegadorPorCategoria:hover {
    color: red;
    font-size: 20px;
}